*{
    margin: 0px;
    padding: 0px;

}
html{
    scroll-behavior: smooth;
}

:root{
    --navbar: 59px;
}

#navi{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    font-family: 'Baloo Thambi 2', cursive;
}
#logo{
margin: 10px 10px; 
}
#logo img{
height: 30px;
margin: 10px 10px;
}
#navi ul{
    display: flex;
}
#navi::before{
    content: "";
position: absolute;
background-color: grey;
height: 100%;
width: 100%;
z-index: -1;
opacity: 0.8;
}


#navi ul li{
    
    list-style-type: none;
    font-size: 1.3rem;
}
#navi ul li a{
    color: black;
    display: block;
    padding: 4px 20px;
    border-radius: 20px;
    text-decoration: none;
}
#navi ul li a:hover{
     /* color: rgb(39, 9, 9); */
   /* background-color: thistle; */
    background-color: rgb(231, 160, 135);
    /* border: 2px solid blueviolet; */
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 540px;
}
#home::before{
    content: "";
position: absolute;
background: url('../img/bg2.jpg') no-repeat center center/cover ;
height: 100%;
width: 100%;
z-index: -1;
top: 0px;
left: 0px;
opacity: 0.89;
}
#home h1{
    color: black;
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
}
#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Thambi 2', cursive;
}
.prim{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Baloo Thambi 2', cursive;
}
.second{
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Baloo Thambi 2', cursive;
}
.btn{
    padding: 6px 20px;
    border: 2px solid black ;
    background-color: #f2ede6;
    color: black;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
}
.centre{
    text-align: center;
}
#services{
    margin: 20px;
    /* background-color: beige; */
    display: flex;
}
#services .box{
    border: 2px solid black;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    /* background-color: #d0e58457; */
    
}
#services .box img{
    height: 150px;
    display: block;
    margin: auto;
    /* width: 100px; */
}
#services .box p{
    font-family: 'Baloo Thambi 2', cursive;
}
#services{}
#clentsec{
    height: 300px;
    /* position: relative; */
}
#clientsec::before{
    content: "";
    position: absolute;
    background: url('../img/pex.jpeg');
    height: 280px;
    width: 100%;
    /* background-repeat: no-repeat; */
    z-index: -1;
opacity: 0.7;

}
#clients img{
    height: 124px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clientitem{
    padding: 30px;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../img/contact.jpg') no-repeat center center/cover;
    height: 500px;
    width: 100%;
    /* background-repeat: no-repeat; */
    z-index: -1;
opacity: 0.7;
}
#contactbox textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 
#contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contactbox form{
    width: 40%;
}

#contactbox label{
   font-size: 1.3rem;
   font-family: 'Baloo Thambi 2', cursive;

}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}